@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
}

a,input, button{
    font-family: inherit;
}

.codificador{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
}

.area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

.cabecario{
    width: 100%;
    padding: 1rem 0;
}

.logo{
    width: 120px;
    height: 48px;
}

.content-area{
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
}

.caixa-texto{
    width: 650px;
    height: 580px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #0A3871;
    font-family: "Inter", sans-serif;
}

.caixa-texto::placeholder{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #0A3871;
    font-family: "Inter", sans-serif;
}

.content-bottao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.mensagem{
    display: flex;
    align-items: center; 
    gap: 0.5rem;
}

.mensagem small{
    color: #495057;
    font-family: "Inter", sans-serif;
}

.button{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-criptografar{
    background-color: #0A3871;
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-descriptografar{
    background-color: #D8DFE8;
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    color: #0A3871;
    border: none;
    cursor: pointer;
}

.caixa-secundaria{
    width: max-content;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 32px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem .7rem rgba(0, 0, 0, 0.08);
}

.imagem-principal{
    width: 336px;
    height: 304px;
}

.text-aviso{
    display: grid;
    gap: 1rem;
    width: 336px;
    font-family: "Inter", sans-serif;
}


.text-aviso h3{
    text-align: center;
    font-size: 24px;
    font-weight: 700px;
    line-height: 28.8px;
    color: #343A40;
    text-align: center;
}

.text-aviso p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #495057;
    
}

.rodape{
    width: 100%;
    padding: 1rem;
}

.rodape p{
    text-align: center;
    justify-content: center;
}


